<div class="row">
    <div class="col-sm-12">
<div class="page-header">
    <h4>Modal Component</h4>
    This is the modal Component
</div>
<button class="btn-btn-sm" data-toggle="modal" data-target="#myModal" >open Me Please</button>
<div class="modal fade" role="dialog" id="myModal" #udi>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                This is the modal Header
            </div>
            <div class="modal-body">
                this is the modal body
            </div>
            <div class="modal-footer">
                This is the modal footer
            </div>
        </div>
    </div>
</div>
</div>
</div>