<div class="row">
  <div class="col-sm-6">
    <div class="page-header">
      <h4>This is Father's Component: {{title}}</h4>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-7">
          <input type="text" #message id="title" class="form-control input-sm">
        </div>
        <button class="btn btn-primary btn-sm" (click)="setMission(message.value)">Set New Mission</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <grandchild></grandchild>
  </div>
</div>
