<div class="page-header">
  <h4>Edit your profile</h4>
</div>
<div class="row">
  <div class="col-sm-3">
    <form [formGroup]="profileForm" autocomplete="off" novalidate (ngSubmit)="saveProfile(profileForm.value)">
      <div class="form-group">
        <label for="firstName" class="control-label">First Name</label>
        <em *ngIf="validateFirstName() && profileForm.controls.firstName.errors.required">Required</em>
        <em *ngIf="validateFirstName() && profileForm.controls.firstName.errors.pattern">Must start with letter</em>
        <input type="text" formControlName="firstName" id="firstName" name="firstName"
          class="form-control input-sm" [ngClass]="{'error': validateFirstName()}"
          placeholder="First Name...">
      </div>
      <div class="form-group">
        <label for="password" class="control-label">Last Name</label>
        <em *ngIf="validateLastName()">Required</em>
        <input type="text" formControlName="lastName" id="lastName" name="lastName"
          class="form-control input-sm" [ngClass]="{'error':validateLastName()}"
          placeholder="LastName...">
      </div>
      <button class="btn btn-sm btn-primary" [disabled]="!profileForm.valid" type="submit">Submit</button>
      <button class="btn btn-sm btn-default" type="button" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>
