<div class="page-header">
  <h4>Login Form</h4>
</div>
<div class="row">
  <div class="col-sm-3">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off" novalidate>
      <div class="form-group">
        <label for="userName" class="control-label">Username</label>
        <em *ngIf="loginForm.controls.userName?.invalid && 
                (loginForm.controls.userName?.touched || mouseoverLogin)">* Required</em>
        <input type="text" #userName=ngModel ngModel class="form-control input-sm" name="userName" id="userName" required>
      </div>
      <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <em *ngIf="loginForm.controls.password?.invalid &&
                (loginForm.controls.password?.touched || mouseoverLogin)">* Required</em>
        <input type="text" #password=ngModel ngModel class="form-control input-sm" name="password" id="password" required>
      </div>
      <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
  <button class="btn btn-sm btn-primary" type="submit" [disabled]="loginForm.invalid">Submit</button></span>
      <button type="reset" class="btn btn-sm btn-default" (click)="cancelLogin()">Cancel</button>
    </form>
  </div>
</div>

